/* ==========================================================================
   FOOTER
   ========================================================================== */

.c-page-footer {
  // padding-top: 100px;
.cell-last {
  display: flex;

  gap: 10px;
  flex-direction: column;
  @media(width >= $bp-medium) {
    align-items: flex-end;
  
  } 
}
.cell {
  margin-bottom: 40px;
  @media(width >= $bp-large) {
  margin-bottom: 0;
  } 
}
img {
  margin: auto;
  @media(width >= $bp-large) {
  margin: 0;
  } 
}
a {
  color: $color-yellow;

}
}

.c-page-footer-upper {
  background-color: $color-black;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 70px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  color: #fff;
  @media(width >= $bp-large) {
    padding-bottom: 70px;
  
  } 
}

.c-page-footer-lower {
  color: #fff;
  font-size: 15px;
  display: flex;
padding: 4px 25px;
flex-direction: column;
align-items: center;
gap: var(--spacing-7xl, 64px);
align-self: stretch; 
background: $color-black;

  > div {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .o-wrapper-wide {
    > div {
      display: flex;
justify-content: space-between;
align-items: center;
align-content: center;
row-gap: var(--spacing-3xl, 24px);
align-self: stretch;
flex-wrap: wrap;
    }
  }
}

.c-footer-social {
  margin-bottom: 20px;
  display: flex;

gap: 24px;

color: $color-yellow;

a {
  color: $color-yellow;
  path {
    fill: $color-yellow;
  }
}
}

.c-footer-logo {
  width: 220px;
  max-width: 100%;
}
.c-address-list {
  height: 100%;
  display: flex;
  gap: 24px;
  justify-content: space-around;
  flex-direction: column;
  @media(width >= 465px) {
    flex-direction: row;


  } 
  h2 {
    margin-bottom: 10px;
  }

}

.c-footer-buttons {
  display: flex;
  gap: 25px;
  flex-direction: column-reverse;

  .order-button {
    margin-left: 0;
  }
}